.fade-in-left {
    position:relative;
    opacity:0;
    left:-100px;
    animation-name:fadeInLeft;
    animation-duration:1s;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out
}

@keyframes fadeInLeft {
    0% { opacity:0;left:-100px; }
    100% { opacity:1;left:0px; }
}
@-moz-keyframes fadeInLeft {
    0% { opacity:0;left:-100px; }
    100% { opacity:1;left:0px; }
}
@-webkit-keyframes fadeInLeft {
    0% { opacity:0;left:-100px; }
    100% { opacity:1;left:0px; }
}
@-o-keyframes fadeInLeft {
    0% { opacity:0;left:-100px; }
    100% { opacity:1;left:0px; }
}
@-ms-keyframes fadeInLeft {
    0% { opacity:0;left:-100px; }
    100% { opacity:1;left:0px; }
}

.fade-in-right {
    position:relative;
    opacity:0;
    left:100px;
    animation-name:fadeInRight;
    animation-duration:1s;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out
}

@keyframes fadeInRight {
    0% { opacity:0;left:100px; }
    100% { opacity:1;left:0px; }
}
@-moz-keyframes fadeInRight {
    0% { opacity:0;left:100px; }
    100% { opacity:1;left:0px; }
}
@-webkit-keyframes fadeInRight {
    0% { opacity:0;left:100px; }
    100% { opacity:1;left:0px; }
}
@-o-keyframes fadeInRight {
    0% { opacity:0;left:100px; }
    100% { opacity:1;left:0px; }
}
@-ms-keyframes fadeInRight {
    0% { opacity:0;left:100px; }
    100% { opacity:1;left:0px; }
}